<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- -->
  <div class="gtco-container">
<div class="top-img img-responsive">
			<div class="row">
        <div class="col-md-12 col-md-offset-0">
				 <div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>素敵なあの人は今、何を聴いているんだろう？</h1>
              <h2>音楽でゆるく繋がるSNS</h2>
              <%= link_to "新規登録する", new_user_registration_path %>
              <%= link_to "ログイン", new_user_session_path %>
              <% if user_signed_in? %>
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
              <% end %>

						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
                <!--サインアップ・サインインメニュー -->
								<div class="tab">
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>はじめる</h3>
                      <div class="btn-group-vertical">
                      <%= link_to "新規登録する", new_user_registration_path,  class: "btn btn-success" %>
                      <%= link_to "ログイン", new_user_session_path , class: "btn btn-primary" %>
                      <a href="#" class="btn btn-info">かんたんログイン</a>
                      <a href="#" class="btn btn-info">twitterでログイン</a>
                      <a href="#" class="btn btn-info">googleアカウントでログイン</a>
                      </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		 </div>
    </div>
</head>

<!-- -->


<body>

  <div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="text-center">
					<h2>MusicRecordと音楽でセカイと繋がろう</h2>
					<p>聴いている音楽を投稿するSNSです</p>
				</div>
			</div>
		</div>

    <div class="gtco-container">
			<div class="row">
				<div class="text-center">
					<h2>聴いている音楽を投稿</h2>
					<p>あなたの聴いている音楽を教えてください
          SpotifyやApplemusic,youtubeなどなんでもOKです
         音楽を検索して投稿</p>
				</div>
			</div>
		</div>

    <div class="gtco-container">
			<div class="row">
				<div class="text-center">
					<h2>お気に入りを音楽を紹介</h2>
					<p>プロフィールで影響をうけたアルバム,アーティストを教えてください
          同じものが好きな人がいるかもしれません</p>
				</div>
			</div>
		</div>

    <div class="gtco-container">
      <div class="row">
        <div class="text-center">
          <h2>気になるユーザーをフォロー</h2>
          <p>あの人が何を聴いているか分かります。</p>
        </div>
      </div>
    </div>

    <div class="gtco-container">
			<div class="row">
				<div class="text-center">
					<h2>メッセージで繋がる</h2>
					<p>メッセーのやり取りもできます</p>
				</div>
			</div>
		</div>

  </div>

</body>
</html>
