<div class="profile-wrap">
 <div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
       <%= image_tag profile_photo(@user), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h2><%= @user.name %></h2>
          <p><%= simple_format(@user.profile) %></p>
          <% if @user == current_user %>
        <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
        <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
      </div>

        <div class="row">
          <p>
            <%= @user.email %>
          </p>
          <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>

    </div>
  </div>
  </div>
  </div>
