<div class="profile-wrap">
 <div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <% if @user.profile_photo? %>
        <img src='<%= @user.profile_photo %>' class="round-img" size:200 alt="ユーザーアイコン">
      <% else %>
        <img src="/assets/default_icon.jpg" class="round-img" size:200 alt="ユーザーアイコン" >
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h2><%= @user.name %></h2>
          <p><%= simple_format(@user.profile) %></p>
              <% if @user == current_user %>
                <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
                <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>

                <p><%= @user.email %></p>
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
                <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
