<% @posts.each do |post| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card bg-secondary">
        <div class="card-header align-items-center d-flex bg-dark">

          <!-- ユーザー画像があれば登録しているユーザー画像、なければデフォルト画像を表示 -->
          <%= link_to user_path(post.user), class: "no-text-decoration" do %>
          <% if post.user.profile_photo? %>
            <img src='<%= post.user.profile_photo %>' class="round-img-nav" size:30 alt="ユーザーアイコン">
          <% else %>
            <img src="<%= asset_path "default_icon.jpg" %>" class="round-img-nav" >
          <% end %>
          <% end %>
          <!-- 投稿したユーザーの名前を表示 -->
          <%= link_to user_path(post.user), class: "no-text-decoration",
            title: post.user.name do %>
            <strong><%= post.user.name %></strong>
          <% end %>
        <!-- 投稿ユーザーの場合、編集・削除アイコンを表示 -->
        <div class="ml-auto">
          <% if post.user_id == current_user.id %>
          <!-- 投稿を編集するアイコン -->
            <div class="post-menu">
              <%= link_to edit_post_path(post) do %>
                 <i class="fas fa-pencil-alt"></i>
              <% end %>
            </div>
            <!-- 投稿を削除するアイコン -->
            <div class="post-menu">
               <%= link_to post_path(post), method: :delete do %>
                 <i class="fas fa-trash"></i>
               <% end %>
             </div>
          <% end %>
        </div>
        </div>
          <!--投稿内容を表示-->
        <div class="text-body">
          <div class="post-text">
            <%= link_to post_path(post), class: "no-text-decoration"  do %>
              <p><%= post.text %></p>
            <% end %>
          </div>
        </div>

        <!-- image_tag post.photos.first.image.url(:medium), class: "card-img-top" % -->

        <div class="card-body bg-secondary">
          <div class="row parts">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <!-- %= link_to "", "#", class: "comment" % -->
          </div>
          <div><strong>「いいね！」10件</strong></div>
          <div>
            <span><strong><%= post.user.name %></strong></span>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", "#", class: "post-time no-text-decoration" %>
            <hr>
            <div class="row parts">
              <form action="#" class="w-100">
                <div>
                  <textarea class="form-control comment-input border-0" placeholder="コメント..." rows="1"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
